.idea
*.iml

build
.gradle

business-services/employees-api/gradle/*
business-services/employees-api/gradlew
business-services/employees-api/gradlew.bat
business-services/employees-api/out/*
business-services/employees-api/target/*
business-services/gradle/*
business-services/gradlew
business-services/gradlew.bat
business-services/workspaces-api/gradle/*
business-services/workspaces-api/gradlew
business-services/workspaces-api/gradlew.bat
business-services/workspaces-api/out/*
business-services/workspaces-api/target/*
commons/gradle/*
commons/gradlew
commons/gradlew.bat
commons/out/*
commons/target/*
infra/api-gateway/gradle/*
infra/api-gateway/gradlew
infra/api-gateway/gradlew.bat
infra/api-gateway/out/*
infra/api-gateway/target/*
infra/config-server/gradle/*
infra/config-server/gradlew
infra/config-server/gradlew.bat
infra/config-server/out/*
infra/config-server/target/*
infra/eureka-server/gradle/*
infra/eureka-server/gradlew
infra/eureka-server/gradlew.bat
infra/eureka-server/out/*
infra/eureka-server/target/*
infra/gradle/*
infra/gradlew
infra/gradlew.bat